<!doctype html>
{% extends "base.html" %}


<html>
	{%block content %}

    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/CustomerView.css') }}">
    <link rel="stylesheet" href="/static/css/CustomerView.css">

    <div class = body >
      <div class = grid-layout-main >

        <div class = card-container id = two >
          <iframe  id="customerMap" src="{{ url_for('static', filename='maps/' + mapHTML + '.html' )}}" alt="Map 002"></iframe>
        </div>



        <div class = card-container id = customerDataCard >
          <div class = livestock-details-container > 
            <img src="{{ url_for('static', filename='img/' + mapHTML + '.jpeg' )}}" alt="Plowman Livestock Logo" height="100px" width="auto"> </img>
              <div class = info-container > 
                <div class = headings id = customerName >   {{customer}}  </div>
                <div class = info-title id = customerBoxNumber > Box # {{customerBoxNumber}}  </div>
                <button id = refresh class = info-data onclick = "window.location.reload()">  
                  <svg class = refresh-button viewBox="0 0 512 512" title="redo-alt">
                    <path d="M256.455 8c66.269.119 126.437 26.233 170.859 68.685l35.715-35.715C478.149 25.851 504 36.559 504 57.941V192c0 13.255-10.745 24-24 24H345.941c-21.382 0-32.09-25.851-16.971-40.971l41.75-41.75c-30.864-28.899-70.801-44.907-113.23-45.273-92.398-.798-170.283 73.977-169.484 169.442C88.764 348.009 162.184 424 256 424c41.127 0 79.997-14.678 110.629-41.556 4.743-4.161 11.906-3.908 16.368.553l39.662 39.662c4.872 4.872 4.631 12.815-.482 17.433C378.202 479.813 319.926 504 256 504 119.034 504 8.001 392.967 8 256.002 7.999 119.193 119.646 7.755 256.455 8z" />
                  </svg> 
                </button>
              </div>
          </div>

          <div class = flex-container > 
              <div class = status-text id = ping> Online </div> 
              <div class = status-text id = livestockBoxStatus> Parked </div>  
          </div>
      
          <div class = flex-container > 
            <div class = info-container > 
              <div class = info-data id = totalDistanceMiles > {{totalDistance}} miles </div> 
              <div class = info-title> Total Distance </div> 
            </div>
            <div class = info-container> 
              <div class = info-data id = totalDistanceOneWeek> {{weeklyDistance}} miles </div> 
              <div class = info-title> This week </div> 
            </div>   
            <div class = info-container> 
              <div class = info-data id = currentTemperatureAverage> {{currentTemperature}}° </div> 
            <div class = info-title> Temperature </div> 
            </div> 
          </div>
        </div>

        

        <div class = card-container id = three >

          <div class= flex-container> 
            <div class = info-title> Showing data from:  </div> 
          </div>

          <div class= flex-container>
            <div class = info-data-large id = dataRangeSimple> Last 24hrs </div> 
          </div>

          <div class= flex-container-edit >
            <div class = info-data-accent id = dataRange>  </div> 
            <button class = normalButton id = changeData> 
              Change Data
            </button>
          </div>
        </div>

        <script type="text/javascript">
          /*
        <div class = card-container id = four >


          <div class= flex-container> 
            <img  src="{{ url_for('static', filename='maps/'+ mapHTML + '.png' )}}" alt=""/> 
          </div>


        </div>

        
        <div class = card-container id = five > 

          <div class = grid-container > 
            
            <!-- row 1 - Titles#1 -->
            <div class = info-title> Current Temperature </div>
            <div class = info-title> Fan Status </div>
            <div class = info-title> Location </div>

           

            <!-- row 2 - Info#1 -->
            <div class = info-data-large> {{currentTemperature}}˚C </div>
            <div class = info-data-large> {{fanStatus}} </div>
            <div class = info-data-large> {{latitude}} , {{longitude}}</div>

            <!-- row 3 - Accent#1 -->
            <!-- accent 1 --><div class = info-data-accent> </div>
            <!-- accent 2 --><div class = info-data-accent> </div>
            <div class = info-data-accent> Latitude      Longitude </div>


            <!-- row 4 - Title#2 -->
            <div class = info-title> Sensors Online </div>
            <div class = info-title> Fan Uptime </div>
            <!-- title 3 --> <div class = info-title> </div>
            
            <div class = info-data-large> {{sensorsOnline}}/8</div>
            <div class = info-data-large> {{fanUptime}} </div>
            <div class = info-data-large> {{location}} </div>


            <!-- accent 1 --><div class = info-data-accent></div>
            <div class = info-data-accent> last 4 weeks </div>
            <!-- accent 3 --><div class = info-data-accent></div>

           
           
            
           
            


            

           
          </div>

        </div>
      
            */ </script>


      </div>  

    </div>

    <script>


    </script>



  {%endblock%}
</html>