<!DOCTYPE html>
<html lang="en">
	
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/extra.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='img/UploadFavicon.png') }}">



<body>
    {{textLine0}}
    <br>
    <br>
    {{textLine1}}
    <br>
    <br>
    {{textLine2}}
    <br>
    <br>
    {{textLine3}}
    <br>
    <br>
    {{textLine4}}
    <br>
    <br>
    {{textLine5}}
</body>
</html>